<%- include ('../partials/header.ejs') %>

  </head>

  <body>

    <!--NAVIGATION BAR FOR ADMIN-->
    <%- include ('../partials/adminNav.ejs') %>

      <!--DASHBOARD SECTION-->
      <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1><i class="fa fa-gear"></i> Dashboard</h1>
            </div>
          </div>
        </div>
      </header>
      <hr>

      <%- include("../partials/alerts.ejs") %>
        <div class="row justify-content-center">
          <div class="col-md-3 text-center bg-primary text-white p-3 m-3">
            <div class="card-block">
              <h3>Books</h3>
              <h1 class="display-4"><i class="fa fa-book"></i>
                <%=books_count%>
              </h1>
              <a href="/admin/books/all/all/1" class="btn btn-outline-light">View</a>
            </div>
          </div>

          <div class="col-md-3 text-center bg-success text-white p-3 m-3">
            <div class="card-block">
              <h3>Users</h3>
              <h1 class="display-4"><i class="fa fa-users"></i>
                <%=users_count%>
              </h1>
              <a href="/admin/users/1" class="btn btn-outline-light">View</a>
            </div>
          </div>

          <div class="col-md-3 text-center bg-secondary text-white p-3 m-3">
            <div class="card-block">
              <h3>Bills</h3>
              <h1 class="display-4"><i class="fa fa-money"></i>
                <%=bills_count%>
              </h1>
              <a href="/admin/bills/all/all/1" class="btn btn-outline-light">View</a>
            </div>
          </div>
        </div>
        </div>
        </div>
        </section>

        <%- include ('../partials/footer.ejs') %>