<%- include ('../../partials/header.ejs') %>

    </head>

    <body>

        <!--NAVIGATION BAR FOR ADMIN-->
        <%- include ('../../partials/userNav.ejs') %>

            <div class="container mt-5 pt-2">
                <div class="row">
                    <h4 class="text-center card-header pb-3">Thông tin phiếu đang mượn/quá hạn</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Điểm mượn sách còn lại: <%=user.point %>
                        </li>
                        <li class="list-group-item aleft aleft-warning">
                            Lưu ý về trạng thái: -1: Quá hạn, 0: Đang mượn
                        </li>
                        <% if(user.point < 2) { %>
                            <h3 class="alert alert-danger">Bạn đang ở mức độ báo động cao. Vui lòng hoàn thiện các thủ
                                tục trả sách...</h3>
                            <% } %>
                                <li class="list-group-item">
                                    <a href="/user"> Quay lại trang chủ </a>
                                </li>
                    </ul>
                    <div class="col-md-6">
                        <% bills.forEach(bill=> { %>
                            <ul class="list-group list-group-flush mt-3">
                                <li class="list-group-item" style="color:chocolate">
                                    <h1>
                                        Mã phiếu mượn:
                                    </h1>
                                    <%= bill._id %>
                                </li>
                                <li class="list-group-item"><strong> Title :</strong>
                                    <%=bill.book.title%>
                                </li>
                                <li class="list-group-item"><strong> User name :</strong>
                                    <%=bill.user.username%>
                                </li>
                                <li class="list-group-item"><strong> Date :</strong>
                                    <%=bill.date.toDateString()%>
                                </li>
                                <li class="list-group-item"><strong> Dead date :</strong>
                                    <%=bill.deadDate.toDateString()%>
                                </li>
                                <li class="list-group-item"><strong> Status :</strong>
                                    <%=bill.status%>
                                </li>
                            </ul>
                            <% }); %>
                    </div>

                </div>
            </div>
            </div>

            <%- include ('../../partials/footer.ejs') %>