<body>
  <%- include('../../partials/header.ejs') %>
    <%- include('../../partials/adminNav.ejs') %>

      <header id="main-header" class="py-2 bg-white text-black shadow-lg">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1><i class="fa fa-money"></i> Quản lý các phiếu mượn/trả</h1>
            </div>
          </div>
        </div>
      </header>

      <section id="search_bar" class="my-3 py-4 bg-light">
        <div class="container">
          <form action="" method="POST">
            <div class="row">
              <div class="col-md-5 p-1">
                <select name="filter" class="form-control">
                  <option selected disabled>Select Option...</option>
                  <option value="user">User</option>
                  <option value="book">Book</option>
                </select>
              </div>
              <div class="col-md-5 p-1">
                <input name="searchName" type="text" class="form-control" placeholder="Search Bills" />
              </div>
              <div class="col-md-2 p-1">
                <input type="submit" class="btn btn-outline-primary btn-block" value="Search" />
              </div>
            </div>
          </form>
        </div>
      </section>

      <div class="container">
        <div class="col-md-2 p-1">
          <a href="/admin/bills/add" class="btn btn-primary">Add new bill</a>
        </div>
      </div>

      <section id="booknventory" class="mt-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <table class="table table-striped">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Book Title</th>
                      <th>User name</th>
                      <th>Date</th>
                      <th>Dead date</th>
                      <th>Return date</th>
                      <th>Status <small> (-1: NO, 0: NORMAL, 1: OK) </small></th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% bills.forEach(bill=> { %>
                      <tr>
                        <td>
                          <%= bill.book.title %>
                        </td>
                        <td>
                          <%= bill.user.username %>
                        </td>
                        <td>
                          <%= bill.date.toDateString() %>
                        </td>
                        <td>
                          <%= bill.deadDate.toDateString() %>
                        </td>
                        <td>
                          <%= bill.returnDate ? bill.returnDate.toDateString() : '' %>
                        </td>
                        <td>
                          <%= bill.status %>
                        </td>
                        <td>
                          <% if (bill.status !==1) { %>
                            <a href="" class="btn btn-info btn-sm" data-toggle="modal"
                              data-target="#updateStatusBillModal">Update!</a>
                            <% } %>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('../../partials/footer.ejs') %>
</body>