<%- include ('../partials/header.ejs') %>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .dashboard-card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
        }

        .dashboard-card:hover {
            transform: translateY(-5px);
        }

        .card-icon {
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    </style>
    </head>

    <body>
        <!--NAVIGATION BAR FOR USER-->
        <%- include ('../partials/userNav.ejs') %>

            <!--DASHBOARD SECTION-->
            <header id="main-header" class="py-4 bg-white text-black">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><i class="fa fa-gear"></i> Dashboard</h1>
                        </div>
                    </div>
                </div>
            </header>

            <%- include ('../partials/alerts.ejs') %>

                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-3 mb-4">
                            <div class="card dashboard-card text-center bg-success text-white p-3 h-100">
                                <div class="card-body">
                                    <i class="fa fa-users card-icon"></i>
                                    <h3 class="card-title">Bill</h3>
                                    <h1 class="display-4">
                                        <%=bills_count%>
                                    </h1>
                                    <a href="/user/<%= currentUser.username %>/bills"
                                        class="btn btn-outline-light mt-3">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include ('../partials/footer.ejs') %>